# Ignore the following
wp-config.php
.htaccess

# Ignore everything in the root except the "wp-content" directory
/*
!wp-content/
!.gitignore

# Ignore everything in the "wp-content" directory, except plugins and themes
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the plugins and themes except the Accelerate ones
wp-content/plugins/*
!wp-content/plugins/accelerate*/

wp-content/themes/*
!wp-content/themes/accelerate*/
